

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Visualize every element with a white box - debugging */
/* * {
    outline: 1px solid whitesmoke !important;
} */

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
}

header h1 {
    text-align: center;
    font-family: 'Righteous', cursive, sans-serif;
}